# dependencies
/frontend/node_modules

# build output
/frontend/build
/frontend/dist

# testing artifacts
/coverage

# local env files like .*env
.env

# IDE files
.vscode/
.idea/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
